header {
    margin: 0 auto;
    text-align: center;
}
.site-title{
    margin: 30px;
}
h1{
    margin: 0;
    font-family: Lora;
    font-size: 2 rem;
    color: #143774;
}
header p {
    margin: 0;
    font-family: ubuntu;
    font-size: .75 rem;
    font-weight: bold;
    color: #1792d2;
   
}
nav {
    margin: 20px 0px;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center;
}
nav li{
    margin: 10px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: ubuntu;
    font-size: 1 rem;
    font-weight: bold;
    color: #707070; 
    padding: 3px;
}

nav a:hover {
    border-bottom: solid 1px #707070;
}